<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pms.a01_Jongdae.a03_DAO.CostNScopeDao">
	<resultMap type="caldar" id="calRt">
		<result column="start1" property="start"/>
		<result column="end1" property="end"/>
	</resultMap>
	<select id="getPrjList" resultType="costprj" parameterType="costprj">
		SELECT p.*, e.ename
		FROM PROJECT p, EMP e
		WHERE p.PRJPMNO = e.empno
	</select>
	<select id="getPrj" resultType="costprj" parameterType="string">
		SELECT p.*, e.ename
		FROM PROJECT p, EMP e
		WHERE p.PRJPMNO = e.empno
		AND p.prjno = #{prjno}
	</select>
	<update id="updateCostPrj" parameterType="costprj">
		UPDATE project
			SET PRJFINANCE = #{prjFinance},
				EQPMNCOST = #{eqpmnCost},
				MATERIALCOST = #{materialCost},
				SERVICECOST = #{serviceCost},
				INDIRECTCOST = #{indirectCost},
				RSRVEXPNS = #{rsrvExpns}
		WHERE prjno = #{prjNo}
	</update>
	<select id="getScPrj" resultType="costprj" parameterType="string">
		SELECT *
		FROM PROJECT
		WHERE prjno = #{prjno}
	</select>
	<select id="getRoadMapList" resultMap="calRt" parameterType="string">
		SELECT r.*, p.prjName
		FROM calendar r, PROJECT p
		WHERE r.prjno = p.prjno
		AND r.prjno = #{prjno}
	</select>
	<select id="getScRMList" resultMap="calRt" parameterType="string">
		SELECT *
		FROM calendar
		WHERE prjno = #{prjno}
	</select>
	<select id="getPMInfo" resultType="pminfo" parameterType="string">
		SELECT e.ename, e.phoneNum, d.dname, d.loc
		FROM project p, emp e, dept d
		WHERE p.prjPMNo = e.empno
		AND p.prjno = #{prjno}
		AND e.deptno = d.deptno
	</select>
	<select id="getScInfo" resultType="scopestmt" parameterType="string">
		SELECT *
		FROM SCOPESTMT
		WHERE prjno = #{prjno}
	</select>
	<select id="getHCostList" resultType="hcost" parameterType="hcost">
		SELECT p.prjno, SUM(e.sal) hsal
		FROM PRJEMPLIST p, EMP e
		WHERE p.empno = e.empno
		GROUP BY p.prjno
	</select>
	<select id="getPrjHCostList" resultType="prjhcostlist" parameterType="string">
		SELECT e.ename, e.gender, e.job, e.sal, p.prjno
		FROM EMP e, PRJEMPLIST p
		WHERE p.prjno = #{prjno}
		AND p.empno = e.empno
	</select>
	<select id="getHCostSum" resultType="hcostsum" parameterType="string">
		SELECT a.*, p3.PRJENDDATE-p3.PRJSTARTDATE+1 prjPeriod
		FROM (SELECT p.prjno, sum(e.sal) hsal
		FROM PRJEMPLIST p, EMP e 
		WHERE p.empno = e.empno
		AND p.prjno = #{prjno}
		GROUP BY p.prjno) a, project p3
		WHERE a.prjno = p3.prjno
	</select>
	<update id="yesScopeStmt" parameterType="string">
		UPDATE scopeStmt
			SET isApproval = '승인'
		WHERE scpStmtNo = #{scpStmtNo}
	</update>
	<update id="noScopeStmt" parameterType="string">
		UPDATE scopeStmt
			SET isApproval = '반려'
		WHERE scpStmtNo = #{scpStmtNo}
	</update>
	
	<!-- 위험관리 리스트 검토계획에서 -->
	<select id="getRiskList" resultType="risk" parameterType="string">
		SELECT r.*, rt.RISKTYPENAME
		FROM risk r, RISKTYPE rt
		WHERE r.rplanno = #{rplanno}
		AND rt.risktypeno = r.risktypeno
	</select>
	<insert id="insertRisk" parameterType="risk">
		INSERT INTO risk values(
		'R'||risk_seq.nextval, #{riskDeg}, #{riskContent}, sysdate, #{registrant}, #{riskTypeNo}, #{rplanno})
	</insert>
	<delete id="deleteRisk" parameterType="string">
		DELETE
		FROM risk
		WHERE riskno = #{riskNo}
	</delete>
	<select id="getRiskDetail" resultType="risk" parameterType="string">
		SELECT r.*, rt.RISKTYPENAME
		FROM risk r, RISKTYPE rt
		WHERE RISKNO = #{riskNo}
		AND r.RISKTYPENO = rt.RISKTYPENO
	</select>
	<update id="updateRisk" parameterType="risk">
		UPDATE risk
			SET riskDeg =  #{riskDeg},
				riskContent = #{riskContent},
				regDate = sysdate,
				registrant = #{registrant},
				riskTypeNo = #{riskTypeNo}
		WHERE riskNo = #{riskNo}
	</update>
	
</mapper>